body {
    background-color: #2C2B3D;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1083px;
    margin: 71px auto 101px;

}

ul {
    display: flex;
    list-style: none;

}

li {
    margin-left: 64px;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1092px;
    
}

div {
    margin: 0 82px;
    text-align: center;

}

h1 {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;

}

div span {
    color: #00BFA6;

}

p {
    margin-top: 59px;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
    font-style: normal;
    font-weight: 100px;
    color: #7D7987;

}

strong {
    color: #C2C2C2;

}

footer {
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    margin: 157px auto auto;
    color: #FFFFFF;
    font-weight: 500px;

}

footer a:hover {
    font-weight: bold;
    opacity: 1;

}