body {
    background-color: #2C2B3D;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1092px;
    
}

div {
    margin: 0 82px;

}

p {
    margin-top: 59px;

}